.container
  .jumbotron
    %h1 Education System Simulator
    %p.lead Keep track of schools, classes, students, homeworks.
    %p
      %i.btn.btn-default.jtron
        =link_to new_user_registration_path do
          Sign up Today
  .row.marketing
    .col-lg-6
      %h4 Schools
      %p Host many school locations.
      %h4 Classes
      %p Have many classes that belong to schools.
      %h4 Homework
      %p Track the status of a homework.