%h1 homeworks
- if admin_signed_in?
  = link_to new_school_course_user_homework_path(@school, @course, current_user) do
    %span.glyphicon.glyphicon-plus
    homework
=form_tag school_course_user_homeworks_path, method: :get, class: "form-search", role: "search" do
  .input-group
    =text_field_tag 'search', params[:search], class: "form-control", id: "srch-term", placeholder: "Search"
    .input-group-btn
      %button.btn.btn-default{:style => "width:40px;"}
        %span.glyphicon.glyphicon-search
  %br
  - @homeworks.each do |homework|
    = link_to school_course_user_homework_path(@school, @course, current_user, homework) do
      %i.btn.btn-default
        = homework.name
    %br
    %br