%h1 homework
%h3
  Name: #{@homework.name}
  %br
  Description: #{@homework.description}
  %br
  -if admin_signed_in?
    = link_to edit_school_course_homework_path(@school, @course, @homework) do
      %i.btn.btn-default
        %span.glyphicon.glyphicon-edit{class: 'glyph'}
    = link_to school_course_homework_path(@school, @course, @homework), method: :delete do
      %i.btn.btn-default
        %span.glyphicon.glyphicon-trash{class: 'glyph'}