%h1 course
%h3
  Name: #{@course.name}
  %br
  Description: #{@course.description}
  %br
  -if admin_signed_in?
    = link_to edit_school_course_path(@school, @course) do
      %i.btn.btn-default
        %span.glyphicon.glyphicon-edit{class: 'glyph'}
    = link_to school_course_path(@school, @course), method: :delete do
      %i.btn.btn-default
        %span.glyphicon.glyphicon-trash{class: 'glyph'}
  =link_to school_course_homeworks_path(@school, @course) do
    Show Homeworks