.dropdown {
  position: absolute;
}
.dropdown-menu {
  text-align: center;
}
.yield_container {
  text-align: center;
}
body {
  background-color: #DBD7C8;
}
nav.navbar.navbar-inverse {
  width: 100%;
  background-color: #B5B09E;
}
.container {
  margin-right: 0;
}
.glyphicon.glyphicon-home, .glyphicon.glyphicon-pencil {
  display: block;
}
.glyphicon.glyphicon-home:hover, .glyphicon.glyphicon-pencil:hover {
color: black;
}
