.dropdown {
  position: absolute;
}
.dropdown-menu {
  text-align: center;
}
.yield_container {
  text-align: center;
}
body {
  background-color: #DBD7C8;
}
nav.navbar.navbar-inverse {
  width: 100%;
}
.container {
  margin-right: 0;
}